.he{
    background-color: burlywood;
     text-align: right;
     padding: 1px;
     margin: 2px;
     border-radius: 25px;
     font-size: 30px;
     
}
#container{
    display: grid;
    grid-template-columns: 1fr 7fr ;
    grid-gap: 10px;
}
.h{
    list-style: none;
    display: inline-block;
    background-color: slategrey;
    color: white;
    border-radius:30px;
    padding: 10px;
    font-size: small;
}
body{
    background-color: burlywood;
    margin: 0px;
}

#side_news{
    background-color: black;
    color: white;
    margin-bottom: -430px;
    
    
   
}

#main_section{
    color: dimgray;
    font-size: 50px;
   text-align: center;
   display: grid;
}
 
  

.k{
    list-style: none;
    padding: 5px 0px 5px 0px;
    font-family: cursive;
}
.first{
    margin-top: 450px;
    width: 100%;
    margin-left: -35px;
    margin-right:100px;
    
}

#a{
    text-align: left;
    list-style: none;
    font-size: medium;
    padding-left: 0px;
    background-color: black;
    color: white;
     margin-bottom: 10px;
  }
#b{
    text-align: left;
    list-style: none;
    font-size: small;
    padding: left 100px;
    background-color: black;
    color: white;
     margin-bottom: 10px;
}
#par{font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 50px;
   
}
#white{
    background-color: azure;
    padding: 2fr;
    border-radius: 10px;
    margin: 2fr;
    text-align: center;
}
#blue{
    background-color: aqua;
    border-radius: 10px;
    padding: 2fr; 
    margin: 2fr;
    text-align: center;
}
#red{
    background-color: red;
    padding-top: 1fr;
    border-radius: 10px;
    
    margin: 2fr;
    text-align: center;

}
#purple{
    background-color: lavenderblush;
    color: darkmagenta;
    padding: 2fr;
    border-radius: 10px;
}
img{
    padding-bottom: 90px;
    padding-top: 10px;
}
p{
    border-radius: 80px;
}
.white{
    color: yellow;
   
}
h1{
    font-size:70px;
}
.second{
    transition: all 1.5s;
    transform: skew(30deg);
}
.second:hover{
    padding-top: 80px;
    transform: scale(2);
}
#white:hover{
    padding: 50px;
    margin: 30px;
transition: all 1s;
transform: skew(20deg)
}
#red:hover{
    padding:50px;
    margin: 30px;
    transition: all 1s;
transform: skew(-20deg);
}
#purple:hover{
    padding:30px;
    margin: 30px;
    transition: all 1s;
    transform: skew(20deg)
}
@media only screen and (max-width: 960px) {
    #container {
      grid-template-columns: 1fr;
    }
  }
  @media only screen and (max-width: 960px) {
    #par {
      grid-template-columns: 1fr;
    }
  }

  @media only screen and (max-width: 960px) {
   .he{
      
        margin-bottom: 490px;
    }
  }

  @media only screen and (max-width: 960px) 
   

  
    {}